[submodule "third_party/rexglue-sdk"]
	path = third_party/rexglue-sdk
	url = https://github.com/Buku313/rexglue-skate3-android.git
	branch = android-arm64

[submodule "third_party/libadrenotools"]
	path = third_party/libadrenotools
	url = https://github.com/bylaws/libadrenotools.git
